<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include schedule.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include project_modals.html %}
    {% include js.html %}

    </body>
</html>